.container {
  width: 35vw;
  background: #fff;
  color: black;
  border-radius: 10px 10px 0px 0px;
}

.container .title-container {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.container .title-container .icon {
  color: #5d18d2;
  font-size: 20px;
}

.container .question {
  margin-left: 2rem;
}

.container .question .question-container {
  display: flex;
  flex-direction: row;
}

.container .question .question-container > p {
  margin-left: 5px;
}
